div#visworldContainer {
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #dddddd;
    position: relative;
}

div#visworldContainer > div#readyWaitContainer {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
}

/* positioning of items in the visual world for the current trial:
 * for all elements: position: absolute in a position: relative container means
 * position is relative to container 
 */
div#visworldContainer > img.vw_trialimage {
    position: absolute;
}
/* top-left item */
[vw_pos="0"] {
    top: 0;
    left: 0;
}
/* top-right */
[vw_pos="1"] {
    top:0;
    right:0;
}
/* bottom-left */
[vw_pos="2"] {
    bottom:0;
    left:0;
}
/* bottom-right */
[vw_pos="3"] {
    bottom: 0;
    right: 0;
}

/* styling of familiarization images */
div#visworldContainer > img.familiarizationImage {
    position: absolute;
    margin-left: -125px;
    left: 50%;
    top: 250px;
    z-index: 1000;
}

div#visworldContainer > div#familiarizationText {
    position: absolute;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    top: 500px;
    padding-top: 20px;
    text-align: center;
}